<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Registration</h2>
<form action="login" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="ente your username"><br>
    <input type="text" name="first_name" placeholder="ente your firstname"><br>
    <input type="text" name="last_name" placeholder="ente your lastname"><br>
    <input type="email" name="email" placeholder="ente your email address"><br>
    <input type="text" name="password" placeholder="ente your password"><br>
    <input type="text" name="cpassword" placeholder="ente your password again"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>